@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff"),
    url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oceanic';
  src: url('../fonts/Oceanic-Regular.woff2') format('woff2'),
      url('../fonts/Oceanic-Regular.woff') format('woff'),
      url('../fonts/Oceanic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}